<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejsTest</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>
    <h1 class="text-bg-primary p-3">Test</h1>
    <p class="text-bg-primary p-3">rddddddsfasdf</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nesciunt excepturi reprehenderit voluptatem a ducimus, totam placeat maxime et, magni facere commodi ullam. Est dolorem cumque, maxime at modi ratione!</p>
    <p><%= 10 * 8 %></p>

    <br>
    <h1>유저 정보</h1>
    <div>userNum : <%= Profile.id %></div>
    <div>userId : <%= Profile.userId %></div>
    <div>userName : <%= Profile.name %></div>
    <div>emailAddress : <%= Profile.emailAddress %></div>

    <form action="/home" id="deletetest" method="get">
        <button type="submit" form="deletetest">홈으로,,,</button>
    </form>
</body>
    <!-- <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script> -->
</html>
