<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자유게시판</title>
    <link rel="stylesheet" href="/css/css.css"
</head>
<body>
    <div class="board_wrap">
        <div class="board_title"> 
            <strong> 자유게시판 </strong>
            <P> 더큰내일센터 7기 인재들의 자유게시판입니다.</P>
        </div>
        <%
            let data = post;
        %>
        <div class="board_view_wrap">
            <div class="board_view">
                <div class="title">
                    <%=data.title%>
                </div>
                <div class="info">
                    <dl>
                        <dt>번호</dt>
                        <dd><%=num%></dd>
                    </dl>
                    <dl>
                        <dt>글쓴이</dt>
                        <dd><%=data.name%></dd>
                    </dl>
                    <dl>
                        <dt>작성일</dt>
                        <dd><%=date%></dd>
                    </dl>
                    <dl>
                        <dt>조회</dt>
                        <dd><%=data.viewCount%></dd>
                    </dl>
                </div>
                <div class="cont">
                <%=data.content%>
                </div>
            </div>


            <!-- 여기서 부터 댓글 란입니다.-->
            <h3> comments</h3>
            <div class="comment_wrap">
                <form action="/post/comment/write?postId=<%=data.id%>&num=<%=num%>" id="write" method="post">
                    <div class="text-form-wrap">
                        <textarea class="text-form" rows="5" placeholder="댓글을 작성해주세요" id="comment" name="comment"></textarea>
                        <button type="submit" form="write" class="text_bt">등록</button>
                    </div>
                </form>
                <%
                for(let i = 0; i < comment.length; i++) {
                %>
                    <div class="first-comment"></div>
                    <div class="user1"><%=comment[i].name%></div>
                    <div class="comment_cont"><%=comment[i].content%></div>
                <%}%>
            </div>
            <!--댓글란 끝!-->

            <div class="board_page">                 
                <a href="#" class="num" id="first" onclick="firstPage('<%=data.id%>', '<%=num%>')">&lt;&lt;</a>
                <a href="#" class="num" id="prev" onclick="prevPage('<%=data.id%>', '<%=num%>')">&lt;</a>
                <%
                let split = allPage / 10;
                let start = Math.floor((currentPage-1) / 10) * 10 +1;

                for(var i = start; i < split + 1; i++)
                {
                    if(i == start+10) break;
                    if(i == currentPage) {
                %>                       
                <a href="#" class="num on" id="page<%=i%>" onclick="changePage('<%=data.id%>', '<%=num%>')"><%=i%></a>
                <%} else {
                %>
                <a href="#" class="num" id="page<%=i%>" onclick="changePage('<%=data.id%>', '<%=num%>')"><%=i%></a>                        
                <%}
                }%>
                <a href="#" class="num" id="next" onclick="nextPage('<%=split + 1%>', '<%=data.id%>', '<%=num%>')">&gt;</a>
                <a href="#" class="num" id="end" onclick="lastPage('<%=split + 1%>', '<%=data.id%>', '<%=num%>')">&gt;&gt;</a>               
            </div>

            <div class="bt_wrap">
                <a href="/post/post/getPostList/1" class="on">목록</a>
                <a href="/post/post/goToUpdate?id=<%=data.id%>">수정</a> 
            </div>
        </div>
    </div>
</body>
<script src="/js/comment.js"></script>
</html>