<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자유게시판</title>
    <link rel="stylesheet" href="/css/css.css">
</head>
<body>
    <div class="board_wrap">
        <div class="board_title"> 
            <strong> 자유게시판 </strong>
            <P> 더큰내일센터 7기 인재들의 자유게시판입니다.</P>
        </div>
        <form action="/post/postJoin/update?id=<%=post.id%>" id="update" method="post" enctype="multipart/form-data">
            <div class="board_write_wrap">
                <div class="board_write">
                    <div class="title">
                        <dl>
                            <dt>제목</dt>
                            <dd> <input type="text" value='<%=post.title%>' id="title" name="title"></dd>
                        </dl>
                        <dl>
                            <dt>소제목</dt>
                            <dd> <input type="text" value='<%=post.subtitle%>' id="subtitle" name="subtitle"></dd>
                        </dl>
                    </div>
                    <div class="info">
                        <dl>
                            <dt>글쓴이</dt>
                            <dd><input type="text" placeholder='<%=post.name%>' readonly></dd>
                        </dl>
                        <dl>
                            <dt>장소</dt>
                            <dd><input type="text" value='<%=post.place%>' name="place"></dd>
                        </dl>
                    </div>
                    <div class="cont">
                        <textarea id="content" name="content"><%=post.content%></textarea>
                    </div>
                    <div class="cont">
                        <textarea id="ps" name="ps"><%=post.ps%></textarea>
                    </div>
                    <div id = img><img src="<%=imgUrl%>"></div>
                    <dl>
                        <dt>일자</dt>
                        <dd><input type="datetime-local" value='<%=dateValues.date%>' name="date"></dd>
                    </dl>
                    <dl>
                        <dt>신청기한</dt>
                        <dd><input type="datetime-local" value='<%=dateValues.period%>' name="period"></dd>
                    </dl>
                    <dl>
                        <dt>인원수</dt>
                        <dd><input type="text" value='<%=post.limit%>' name="limit"></dd>
                    </dl>
                    <dl>
                        <dt>결과 발표</dt>
                        <dd><input type="datetime-local" value='<%=dateValues.confirm%>' name="confirm"></dd>
                    </dl>
                    <dl>
                        <dt>이미지 업로드</dt>
                        <dd id="change"><input type="file" name="image" id="image" accept="image/*" onchange="loadFile(this)"></dd>
                    </dl>

                    <br>

                    <dl>
                        <label for="deleteCheck">이미지 삭제</label>
                        <dd><input type="text" name="deleteCheck" id="deleteCheck" value="false" style="display: none;"></dd>
                    </dl>  

                    <div class="bt_wrap">
                        <button type="submit" form="update" class="on">수정</button>
                        <a href="/post/postJoin/getPostList/1">취소</a> 
                        <div id="test" onclick="goToDelete('<%=post.id%>','<%=post.userId%>')"%>>삭제</div>
                    </div>
                </div>
            </div>
        </form>
    <div>
</body>

<script>
    document.querySelector("#deleteCheck").addEventListener('click', function(){
        if(!document.querySelector("#img").firstChild.getAttribute("src")){
            alert("업로드된 이미지가 없습니다.");
        } else{
            let check = confirm("이미지를 삭제하시겠습니까?");
            if(check) {
                document.querySelector('#deleteCheck').value="true";
                let container = document.getElementById('img');
                container.firstChild.removeAttribute("src");
                console.log(container.firstChild.getAttribute("src"));
            }
        }
    });

    function goToDelete(id, userId) {
        document.querySelector('#test').addEventListener('click', () => {
            let check = confirm("정말 삭제하시겠습니까?");
            if(check) {
                location.href=`/post/postJoin/delete?id=${id}&userId=${userId}`;
            }
        }, false);
    }

    function loadFile(input) {
        let file = input.files[0];	//선택된 파일 가져오기

        const newImage = document.querySelector("#img").firstChild;

        newImage.src = URL.createObjectURL(file);

        document.querySelector('#deleteCheck').value="false";
    };
</script>
<!-- <script src="/js/post.js"></script> -->
</html>