<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모집게시판</title>
    <link rel="stylesheet" href="/css/mo-css.css">
</head>
<body>
    <header>
        
        <nav>
            <img src="/images/DDEEP_LOGO.png" width="8%" onclick="goToHome()"><script>function goToHome(){location.href="/home"}</script>
            <ul class="mo-menu">
            <li><a href="/post/postJoin/getPostList/1" >모집</a></li>
            <li><a href="/post/post/getPostList/1" >자유</a></li>
            <li><a href="/login/jwtLogin/logOut">로그아웃</a></li>
            
            </ul>
            </nav>
    </header>
    <div class="hong_wrap">
        <div class="hong_title"> 
            <strong> 모집게시판 </strong>
            <P> 더큰내일센터 7기 인재들의 모집게시판입니다.</P>
        </div>
        <form action="/post/postJoin/update?id=<%=post.id%>" id="update" method="post" enctype="multipart/form-data">
            <div class="hong_write_wrap">
                <div class="hong_write">
                    <div class="title">
                        <dl>
                            <dt>제목</dt>
                            <dd> <input type="text" value='<%=post.title%>' id="title" name="title"></dd>
                        </dl>
                        <dl>
                            <dt>소제목</dt>
                            <dd> <input type="text" value='<%=post.subtitle%>' id="subtitle" name="subtitle"></dd>
                        </dl>
                    </div>
                    <div class="info">
                        <dl>
                            <dt>인원 수</dt>
                            <dd><input type="number" min="0" placeholder="인원 수 입력" id="limit" value='<%=post.limit%>'  name="limit"></dd>
                        </dl>
                        <dl>
                            <dt> 일자</dt>
                            <dd><input type="datetime-local" value='<%=dateValues.date%>' id="date" name="date"></dd>
                        </dl>
                        <dl>
                            <dt> 신청기한</dt>
                            <dd><input type="datetime-local" value='<%=dateValues.period%>' id="period" name="period"></dd>
                            
                        </dl>
                        <dl>
                            <dt>결과 발표</dt>
                            <dd><input type="datetime-local" value='<%=dateValues.confirm%>' id="confirm" name="confirm"></dd>
                        </dl>
                    </div>
                    <div class="address">
                        <p>장소</p>
                        <textarea placeholder="장소 입력" name="place" id="place"><%=post.place%></textarea>
                    </div>
                    <div class="cont">
                        <p>세부 내용</p>
                        <textarea placeholder="내용 입력" name="content" id="content"><%=post.content%></textarea>
                    </div>
                    <div class="add">
                        <p>추가 안내 사항</p>
                        <textarea placeholder="추가 안내 사항 입력" name="ps" id="ps"><%=post.ps%></textarea>
                    </div>
                    <div class="file_box">
                        </br>
                        <p>현재 이미지</p>
                        <div id = img><img src="<%=imgUrl%>"></div>
                        <input type="file" name="image" id="image" accept="image/*" onchange="loadFile(this)">
                        <dl class="deleteCheck">
                            <label for="deleteCheck">이미지 삭제</label>
                            <dd><input type="text" name="deleteCheck" id="deleteCheck" value="false" style="display: none;"></dd>
                        </dl>  
                        </br>
                    </div>
                    

                    <div class="bt_wrap">
                        <div class="on" id="submit">수정</div>
                        <a href="/post/postJoin/getPostList/1">취소</a> 
                        <div id="test" onclick="goToDelete('<%=post.id%>','<%=post.userId%>')"%>>삭제</div>
                    </div>
            </div>
        </form>
    </div>
</br>
</br>
</body>

<script>
    document.querySelector("#deleteCheck").addEventListener('click', function(){
        if(!document.querySelector("#img").firstChild.getAttribute("src")){
            alert("업로드된 이미지가 없습니다.");
        } else{
            let check = confirm("이미지를 삭제하시겠습니까?");
            if(check) {
                document.querySelector('#deleteCheck').value="true";
                let container = document.getElementById('img');
                container.firstChild.removeAttribute("src");
                console.log(container.firstChild.getAttribute("src"));
            }
        }
    });

    function goToDelete(id, userId) {
        document.querySelector('#test').addEventListener('click', () => {
            let check = confirm("정말 삭제하시겠습니까?");
            if(check) {
                location.href=`/post/postJoin/delete?id=${id}&userId=${userId}`;
            }
        }, false);
    }

    function loadFile(input) {
        let file = input.files[0];	//선택된 파일 가져오기

        const newImage = document.querySelector("#img").firstChild;

        newImage.src = URL.createObjectURL(file);

        document.querySelector('#deleteCheck').value="false";
    };

    function loadFile(input) {
        let file = input.files[0];	//선택된 파일 가져오기

        let newImage = document.querySelector("#img").firstChild;

        //이미지 source 가져오기
        newImage.src = URL.createObjectURL(file);
    };


    document.querySelector("#submit").addEventListener("click", submit);
    function submit(){
        if(!document.querySelector("#title").value){
            alert("제목을 입력해주세요!");
        } else if(!document.querySelector("#subtitle").value){
            alert("소제목을 입력해주세요!");
        } else if(!document.querySelector("#limit").value){
            alert("인원 수를 입력해주세요!");
        } else if(!document.querySelector("#date").value){
            alert("일자를 입력해주세요!");
        } else if(!document.querySelector("#period").value){
            alert("신청기한을 입력해주세요!");
        } else if(!document.querySelector("#confirm").value){
            alert("결과발표일을 입력해주세요!");
        } else if(!document.querySelector("#place").value){
            alert("장소를 입력해주세요!");
        } else if(!document.querySelector("#content").value){
            alert("내용을 입력해주세요!");
        } else if(!document.querySelector("#ps").value){
            alert("추가 안내사항을 입력해주세요!");
        } else {
            document.querySelector("#update").submit();
        }
    }
</script>

</html>