<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mo-css.css">
    <title>Document</title>
</head>
<body>
    <div class="board_wrap">
        <div class="board_title"> 
            <strong> 자유게시판 </strong>
            <P> 더큰내일센터 7기 인재들의 자유게시판입니다.</P>
        </div>
        <%
            let data = post;
        %>
        <div class="board_view_wrap">
            <div class="board_view">
                <div class="title">
                    <%=data.title%>
                </div>
                <div class="title">
                    <%=data.subtitle%>
                </div>
                <div class="info">
                    <dl>
                        <dt>번호</dt>
                        <dd><%=num%></dd>
                    </dl>
                    <dl>
                        <dt>글쓴이</dt>
                        <dd><%=data.name%></dd>
                    </dl>
                    <dl>
                        <dt>작성일</dt>
                        <dd><%=date%></dd>
                    </dl>
                    <dl>
                        <dt>장소</dt>
                        <dd><%=data.place%></dd>
                    </dl>
                    <dl>
                        <div class="bt_wrap">
                            <div id="join" onclick="goToJoin('<%=nowId%>','<%=data.userId%>', '<%=data.id%>', '<%=num%>')">참여하기</div>
                        </div>
                    </dl>
                    <dl>
                        <div class="bt_wrap">
                            <div id="cancel" onclick="goToCancel('<%=nowId%>','<%=data.userId%>', '<%=data.id%>', '<%=num%>')">참여취소</div>
                        </div>
                    </dl>
                </div>
                <div class="cont">
                <%=data.content%>
                </div>
                <div class="cont">
                <%=data.ps%>
                </div>
                <div class="cont">
                <%
                for(let i = 0; i < joinMembers.length; i++){%>
                    <p><%=joinMembers[i].name%></p>
                <%}%>
                </div>
                <img src=<%=imgUrl%>>
                <dl>
                    <dt>일자</dt>
                    <dd><%=dateValues.date%></dd>
                </dl>
                <dl>
                    <dt>신청기한</dt>
                    <dd><%=dateValues.period%></dd>
                </dl>
                <dl>
                    <dt>인원수</dt>
                    <dd><%=data.limit%></dd>
                </dl>
                <dl>
                    <dt>결과발표</dt>
                    <dd><%=dateValues.confirm%></dd>
                </dl>
            </div>

            <div class="bt_wrap">
                <a href="/post/postJoin/getPostList/1" class="on">목록</a>
                <a href="/post/postJoin/goToUpdate?id=<%=data.id%>">수정</a> 
            </div>
        </div>
    </div>
</body>

<script>
    function goToJoin(nowId, userId, id, num) {
        if(nowId == userId){
            alert("모집 당사자입니다.");
        } else {
            document.querySelector('#join').addEventListener('click', () => {
                let check = confirm("정말 참여하시겠습니까?");
                if(check) {
                    location.href=`/post/postJoin/join?id=${id}&num=${num}`;
                }
            }, false);
        }
    }

    function goToCancel(nowId, userId, id, num) {
        if(nowId == userId){
            alert("모집 당사자입니다.");
        } else {
            document.querySelector('#cancel').addEventListener('click', () => {
                let check = confirm("정말 취소하시겠습니까?");
                if(check) {
                    location.href=`/post/postJoin/cancel?id=${id}&num=${num}`;
                }
            }, false);
        }
    }
</script>

</html>