<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mo-css.css">
    <title>Document</title>
</head>
<body>
    <header>
        
        <nav>
            <img src="/images/DDEEP_LOGO.png" width="8%">
            <ul class="mo-menu">
            <li><a href="/post/postJoin/getPostList/1" >모집</a></li>
            <li><a href="/post/post/getPostList/1" >자유</a></li>
            <li><a href="/login/jwtLogin/logOut">로그아웃</a></li>
            
            </ul>
            </nav>
    </header>

    <div class="mo-body">
        <main>
            <%
                let data = post;
            %>
            <div class="mo-title">
                <h1><%=data.title%></h1>
                <p><%=data.subtitle%></p>
            </div>
            <img src=<%=imgUrl%> width="60%" >
            <div class="mo-container">
                <dl>
                    <dt id="장소">장소</dt>
                    <dd><%=data.place%></dd>
                </dl>
            </div>
            <div class="mo-container">
                <dl>
                    <dt id="세부내용">세부 내용</dt>
                    <dd><%=data.content%></dd>
                </dl>
            </div>
            <div class="mo-container">
                <dl>
                    <dt id="추가안내사항">추가 안내 사항</dt>
                    <dd><%=data.ps%></dd>
                </dl>
            </div>
        </main>
         <div class="mo-side">
            <div class="side-cont">
                <dl>
                    <dt>작성자</dt>
                    <dd><%=data.name%></dd>
                </dl>
                <dl>
                    <dt>일자</dt>
                    <dd><%=date%></dd>
                </dl>
                <dl>
                    <dt>신청기한</dt>
                    <dd><%=dateValues.period%> 까지</dd>
                </dl>
                <dl>
                    <dt>인원 수</dt>
                    <dd><%=data.limit%>명</dd>
                </dl>
                <dl>
                    <dt>결과 발표</dt>
                    <dd><%=dateValues.confirm%></dd>
                </dl>
            </div>
            <div class="a-wrap">
                <a href="#장소">장소</a><br>
                <a href="#세부내용">세부 내용</a><br>
                <a href="#추가안내사항">추가 안내 사항</a><br>
            
                <a href="#" class="accept" id="accept" onclick="goToJoin('<%=nowId%>','<%=data.userId%>', '<%=data.id%>', '<%=num%>')">신청하기</a>   
                <a href="#" class="accept" id="cancel" onclick="goToCancel('<%=nowId%>','<%=data.userId%>', '<%=data.id%>', '<%=num%>')">신청취소</a>   
                <a href="/post/postJoin/goToUpdate?id=<%=data.id%>" class="accept">글 수정</a>   
            </div>
            <div class="mo-member">
                <p> 모집 인원</p>
                </br>
                <%
                for(let i = 0; i < joinMembers.length; i++){%>
                    <p><%=joinMembers[i].name%></p>
                <%}%>
            </div>
        </div>
    </div>
</body>

<script>
    function goToJoin(nowId, userId, id, num) {
        if(nowId == userId){
            alert("모집 당사자입니다.");
        } else {
            document.querySelector('#accept').addEventListener('click', () => {
                let check = confirm("정말 참여하시겠습니까?");
                if(check) {
                    location.href=`/post/postJoin/join?id=${id}&num=${num}`;
                }
            }, false);
        }
    }

    function goToCancel(nowId, userId, id, num) {
        if(nowId == userId){
            alert("모집 당사자입니다.");
        } else {
            document.querySelector('#cancel').addEventListener('click', () => {
                let check = confirm("정말 취소하시겠습니까?");
                if(check) {
                    location.href=`/post/postJoin/cancel?id=${id}&num=${num}`;
                }
            }, false);
        }
    }
</script>

</html>